<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BrowseTerm Test Client</title>
        <link rel="stylesheet" href="../static/terminal_style.css"/>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.5.1/xterm.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.5.1/xterm.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.0/socket.io.js"></script>
    </head>
    <body>
        <div id="terminal-container"></div>

        <script>
            /*
                Xterm cdn: https://cdnjs.com/libraries/xterm/3.5.1

            */
            
            // Create a global variable to store the WebSocket instance
            var socket = null;

            window.addEventListener("load", function() {
                // create the terminal
                var terminalContainer = document.getElementById("terminal-container");
                var term = new Terminal({"cursorBlink": true});
                term.open(terminalContainer);
                // term.fit();

                socket = new WebSocket('ws://localhost:8000'); // Replace with your server's WebSocket URL

                socket.addEventListener('open', function(event) {
                    term.write("\r\n*** Connected to backend***\r\n");

                    // As soon as we connect we send a ssh_config message
                    var dataToSend = {
                        event: 'ssh_connect',  // Event name or identifier
                        ssh_hash: 'asdf',
                        ssh_host: '172.19.0.2',
                        ssh_port: 22,
                        ssh_username: 'ubuntu',
                        ssh_password: '1234'
                    };

                    // Convert data to a JSON string (if it's not already a string)
                    var dataString = JSON.stringify(dataToSend);

                    // Send the data to the backend
                    socket.send(dataString);
                });

                // Browser -> Backend
                term.on("data", function(data) { 
                    msg = JSON.stringify(
                        {
                            event: "data",
                            ssh_hash: "asdf",
                            message: data
                        }
                    )
                    socket.send(msg);
                });

                // Backend -> Browser
                socket.addEventListener('message', function(event) {
                    term.write(event.data);
                });

                socket.addEventListener('close', function(event) {
                    term.write("\r\n*** Disconnected from backend***\r\n");
                });

                socket.addEventListener('error', function(error) {
                    console.error("WebSocket error:", error);
                });
            });
        </script>
    </body>
</html>